/* .App { */
/* background-image: url("./media/pankaj-patel-u2Ru4QBXA5Q-unsplash.jpg"); */
/* text-align: center; */
/* } */
.CodingBackgroundImg {
  height: 85vh;
  width: 100vw;
  position: fixed;
  top: 15vh;
  right: 0;
  opacity: 0.35;
  z-index: -2;
}

.NavigationMenu {
  position: fixed;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  width: 100vw;
  height: 10em;
  top: 0;
  border-bottom: 1em black solid;
  background-color: rgb(57, 57, 123);
}

#header {
  text-align: center;
  margin-top: 1em;
}

#navbarbuttons {
  text-align: center;
  display: flex;
  /* background-color: red; */
  height: 2em;
}

.col {
  /* position: absolute; */
  display: flex;
  flex-direction: column-reverse;
  /* top: 0; */
  font-size: x-large;
  width: 15em;
  text-shadow: 2px 1px 1px black;

  /* background-color: red; */
}

.col:hover {
  /* height: 1.5em; */
  cursor: pointer;
  /* font-size: xx-large; */
  color: rgb(102, 102, 102);
}

#projectsMenuItems {
  visibility: hidden;
}

#projectsMenu {
  /* background-color: black; */
  z-index: 2;
  opacity: 1;
  padding-top: 10em;
  height: 30vh;
  width: 0;
  /* transition: height 0.5s; */
}

.projectsMenuText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-color: red; */
  /* display: inline-block; */
  display: none;
  /* z-index: 1; */
  font-size: x-large;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-top: 1em;
  width: fit-content;
  /* padding-right: auto; */
  cursor: pointer;
}

.projectsMenuText:hover {
  color: rgb(166, 166, 166);
}

/* .projectsMenuText:active {
  color: rgb(123, 123, 123);
} */

.projectsMenuSecondaryText {
  cursor: pointer;

  font-size: large;
  padding-left: 2em;
  /* background-color: green; */
  /* color: red; */
}

.projectsMenuSecondaryText:hover {
  color: rgb(166, 166, 166);
}

.projectsMenuSecondaryText:active {
  color: rgb(123, 123, 123);
}


#apiProjectsMenuText {
  display: none;
}
#fullStackMenuItems {
  display: none;
}

#scrabble {
  display: none;
}

#newjeopardy {
  display: none;
}

#textadventure {
  display: none;
}

#zorkingtondom {
  display: none;
}
/* .personalLearningFavorites {
  display: none;
} */

#projectDisplay {
  /* display: none; */
  /* background-color: white; */
  z-index: 1;
  position: fixed;
  padding-right: 0;
  margin: 0;
  top: 15.5vh;
  right: 5vw;
  height: 0;
  width: 0;
}
/* #aboutMeDisplay {
  z-index: 1;
  position: fixed;
  padding-right: 0;
  margin: 0;
  top: 15.5vh;
  right: 5vw;
  height: 0;
  width: 0;
} */

#aboutMeMenu {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  position: relative;
  left: 12vw;
  background-color: rgb(77, 77, 77);
  visibility: hidden;
  position: fixed;
  top: 15.5vh;
  height: 0;
  width: 0;
  margin-bottom: 1em black solid;
}

#aboutMeDisplay {
  /* display: flex;
  position: relative; */
  display: inline-block;
  top: 10rem;
  cursor: auto;
  align-items: center;
  margin-left: 12rem;
  margin-top: 12rem;
  font-size: xx-large;
}

#aboutMeContent {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 5vw;
  font-size: clamp(13px,3vw,28px);
  max-width: 45%;
  /* width: 50%; */
  /* background-color: blue; */
}

.bioContent {
  font-size: clamp(12px,2.5vw,23px);
  width: 40vw;
  height: 40em;
  margin-left: 3em;
  display: block;
}
#headshotcontainer {
  display: inline;
}

#headshotImg {
  position: absolute;
  border: 2px solid black;
  border-radius: .1em;
  right: 5vw;
  width: 30vh;
  max-width: 32vw;
  max-width: 50%;
  user-select: none;
}

#projectsiframe {
  height: 100%;
  width: 100%;
}

#projectInformation {
  height: 100%;
  width: 100%;
  opacity: .85;
  background-color: black;
  z-index: 1;
  position: absolute;
  padding-right: 0;
  margin: 0;
}

#btncontainer {
  position: relative;
  top: -6em;
  z-index: 3;
  width: 100%;
  text-align: center;
}
#projectCloseButton {
  align-items: center;
}

#projectInformationContent{
  opacity: .8;
  height: 30%;
  margin: 6em;
  margin-top: 8em;
  font-size: xx-large;
  text-align: center;
}