/* background-image: url("./media/pankaj-patel-u2Ru4QBXA5Q-unsplash.jpg"); */
* {
  text-shadow: 2px 2px 2px black;
  max-width: 100vw;
  max-height: 100vh;
}
.CodingBackgroundImg {
  /* height: 100%; */
  width: 100vw;
  position: fixed;
  /* top: 15vh; */
  top: 0;
  left: 0;
  /* right: 0; */
  opacity: 0.35;
  z-index: -2;
}

.NavigationMenu {
  position: absolute;
  /* visibility: hidden; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  width: 100vw;
  min-width: 22rem;
  height: 10em;
  top: 0;
  border-bottom: 1em black solid;
  background-color: rgb(57, 57, 123);
}

#header {
  text-align: center;
  margin-top: 1em;
}

#navbarbuttons {
  text-align: center;
  display: flex;
  height: 2em;
  user-select: none;
}

.col {
  display: flex;
  flex-direction: column-reverse;
  font-size: x-large;
  width: 15em;
  text-shadow: 2px 1px 1px black;
}

.col:hover {
  cursor: pointer;
  color: rgb(102, 102, 102);
}

#projectContainer {
  position: fixed;
  top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  width: 100vw;
  /* background-color: red; */
}

#projectDisplay {
  z-index: 1;
  position: absolute;
  /* padding-right: 0; */
  margin: 0;
  top: 15.5vh;
  /* margin-left: 50%; */
  /* right: 5vw; */
  height: 0;
  width: 0;
}

#projectsMenuItems {
  visibility: hidden;
  /* overflow-y: scroll; */
}

#projectsMenu {
  position: relative;
  top: 10em;
  z-index: 2;
  opacity: 1;
  /* padding-top: 10em; */
  height: 30vh;
  width: 0;
}

.projectsMenuText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* display: none; */
  font-size: clamp(15px, 2.5vw, 23px);
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-left: clamp(10px, 2rem, 20rem);
  padding-top: 1em;
  width: 20em;
  cursor: pointer;
}

.projectsMenuText:hover {
  color: rgb(166, 166, 166);
}

.projectsMenuSecondaryText {
  cursor: pointer;
  /* font-size: large; */
  font-size: clamp(15px, 1.5vw, 18px);
  padding-left: clamp(10px, 3rem, 20rem);
  width: 25em;
}

.projectsMenuSecondaryText:hover {
  color: rgb(166, 166, 166);
}

.projectsMenuSecondaryText:active {
  color: rgb(123, 123, 123);
}

#apiProjectsMenuText {
  display: none;
}
#fullStackMenuItems {
  display: none;
}

#scrabble {
  display: none;
}

#newjeopardy {
  display: none;
}

#textadventure {
  display: none;
}

#zorkingtondom {
  display: none;
}

#aboutMeMenu {
  position: absolute;
  top: 10em;
  left: 12vw;
  background-color: rgb(77, 77, 77);
  visibility: hidden;
  height: 0;
  width: 0;
  margin-bottom: 1em black solid;
}

#aboutMeDisplay {
  display: hidden;
  cursor: auto;
  margin-top: 12rem;
}

.bioHeader {
  user-select: none;
  text-shadow: 2px 2px 2px black;
  padding-top: 0.5em;
}

.bioHeader:hover {
  cursor: pointer;
  color: rgb(200, 200, 200);
}

.bioHeader:active {
  color: rgb(200, 200, 200);
}

#aboutMeContent {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 5vw;
  font-size: clamp(13px, 3vw, 28px);
  max-width: 42.5%;
}

.bioContent {
  font-size: clamp(12px, 2.5vw, 23px);
  width: 40vw;
  height: 40em;
  margin-left: 3em;
}

#headshotcontainer {
  display: inline;
}

#headshotImg {
  position: absolute;
  border: 2px solid black;
  border-radius: 0.1em;
  right: 5vw;
  width: 30vh;
  max-width: 32vw;
  max-width: 42%;
  user-select: none;
}

#projectsiframe {
  height: 100%;
  width: 100%;
}

#projectInformation {
  height: 100%;
  width: 100%;
  opacity: 0.85;
  background-color: black;
  z-index: 1;
  position: absolute;
  padding-right: 0;
  margin: 0;
}

#btncontainer {
  position: relative;
  top: -6em;
  z-index: 3;
  width: 100%;
  text-align: center;
}
#projectCloseButton {
  align-items: center;
  visibility: hidden;
}

#projectInformationContent {
  display: flex;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  opacity: 1;
  height: 30%;
  margin: clamp(1px, 3rem, 20vw);
  margin-top: 40vh;
  font-size: clamp(13px, 3vw, 28px);
  text-align: center;
}

#contactDisplay {
  position: absolute;
  top: 10em;
  left: 12vw;
  background-color: rgb(77, 77, 77);
  /* visibility: hidden; */
  height: 0;
  width: 0;
  margin-bottom: 1em black solid;
}

#contactContent {
  display: none;
  visibility: hidden;
  padding-top: 2em;
  font-size: clamp(13px, 3vw, 28px);
}

.column {
  display: flex;
  align-items: center;
  width: 100%;
}
.contactDescriptors {
  left: 0;
  padding-left: 2em;
  width: 7em;
  font-size: clamp(13px, 2.5vw, 19px);
  /* font-size: clamp(15px, 2.5vw, 23px); */
  padding-top: 0;
  margin: 0;
}

.textFields {
  padding-left: 2em;
  font-size: clamp(13px, 2.5vw, 19px);
}
#contactGreeting {
  position: relative;
  font-size: clamp(13px, 5vw, 28px);
  text-align: center;
  left: -2%;
  height: 2em;
}

#name,
#organization,
#email,
#subject,
#message {
  text-shadow: none;
  height: 2rem;
  max-width: 35%;
  min-width: 13em;
  font-size: clamp(13px, 2.5vw, 19px);

}

#email {
  height: 2.5rem;
}

#subject {
  position: relative;
  max-width: 45%;
  text-shadow: none;
  height: 1rem;
}

#message {
  position: relative;
  max-width: 80%;
  height: 7rem;
  padding-right: 5em;
}

#submitBtnCnt {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sentMessage {
  padding-top: 10em;
  text-align: center;
}