
/* .App { */
  /* background-image: url("./media/pankaj-patel-u2Ru4QBXA5Q-unsplash.jpg"); */
  /* text-align: center; */
/* } */
.CodingBackgroundImg {
  height: 85vh;
  width: 100vw;
  position: fixed;
  top: 15vh;
  right: 0;
  opacity: .35;
  z-index: -2;
}

.NavigationMenu {
  position: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  width: 100vw;
  height: 10em;
  top: 0;
  border-bottom: 1em black solid;
  background-color: rgb(57, 57, 123);
}


#header{
  text-align: center;
  margin-top: 1em;
}

#navbarbuttons {
  text-align: center;
  display: flex;
  /* background-color: red; */
  height: 2em;
}

.col {
  /* position: absolute; */
  display: flex;
  flex-direction: column-reverse;
  /* top: 0; */
  font-size: x-large;
  width: 15em;
  /* background-color: red; */
}

.col:hover{
  /* height: 1.5em; */
  cursor: pointer;
  font-size: xx-large;
}

#projectsMenuItems {
  visibility: hidden;
}

#projectsMenu {
  z-index: 2;
  opacity: 1;
  padding-top: 10em;
  height: 30vh;
  width: 0;
  transition: height .25s;
}

.projectsMenuText {
  /* background-color: red; */
  display: inline-block;
  /* z-index: 1; */
  font-size: x-large;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-top: 1em;
  width: fit-content;
  /* padding-right: auto; */
}

.projectsMenuText:hover {
  font-size: xx-large;
  padding-top: .36em;
  cursor: pointer;
}

#projectDisplay{
  z-index: 1;
  position: fixed;
  padding-right: 0;
  margin: 0;
  top: 15.5vh;
  right: 5vw;
  height: 0;
  width: 0;
}

#projectsiframe {
  height: 100%;
  width: 100%;
}