.flexRow {
  display: flex;
  flex-direction: row;
}

.centered {
  text-align: center;
}

body {
  background-color: rgb(101, 101, 101);
  user-select: none;
  color: white;
  font-size: 2vw;
  /* font-size: clamp(2vw, 12em, 16px) ; */
  margin: 0;
  min-height: 0;
}

.class-name, h1 {
  top: 0;
  text-shadow: 2px 2px 2px black;
}

.r1 {
  background-color: rgb(59, 127, 127);
}

.r2 {
  background-color: rgb(87, 16, 87);
}

.f {
  background-color: rgb(38, 22, 189);
}

.nameInput {
  margin: 1em;
}

input {
  height: 2em;
  width: fit-content;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px black solid;
  border-radius: 1rem;
  font-size: 1rem;
}

#hero {
  margin-top: 5vh;
  border-radius: 1em;
  width: 50vw;
  height: 25vw;
}

.bottom * {
  width: 18vw;
  height: 2vw;
  font-size: 1.5vw;
  padding: 0.15em;
}

hr {
  width: 80%;
  background-color: black;
}

#inputFieldForP1Name {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-color: gray;
  border-left-color: gray;
}

#inputFieldForP2Name {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-color: gray;
  border-left-color: gray;
}

#startGame {
  font-size: 1.5em;
  width: 3em;
  width: fit-content;
  height: fit-content;
  border: 2px black solid;
  margin-bottom: 2rem;
  border-top-color: gray;
  border-left-color: gray;
  color: rgb(95, 95, 95);
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#addBtnPosition{
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  /* background-color: red; */
}

#class-and-game{
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* pos; */
  /* align-items: center; */
  /* margin-left: 10em; */
  /* margin-right: 10em; */
  /* min-width: fit-content; */
  /* width: fit-content; */
  /* text-align: center; */
  align-items: center;
  /* width: 100vw; */
  /* background-color: red; */
}

.spacer {
  width: 9em;
}

#class-name, #game-name {
  margin: auto;
  width: fit-content;
  min-width: fit-content;
}
#startGame:hover,
.previousRound > button:hover,
.nextRound > button:hover {
  background-color: rgb(188, 188, 188);
}

#startGame:active {
  background-color: gray;
}

#gameGrid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.finalGrid {
  margin-left: 6vw;
}

aside {
  max-width: 8em;
  max-height: fit-content;
  color: black;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: white;
  border: 0.6vw solid antiquewhite;
  padding-bottom: 2vw;
}

aside div {
  margin: 1em 1em 0 1em;
}

.answerBoard {
  margin-right: 25vw;
  margin-left: 4vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: blue;
  border: 0.1vw solid white;
  max-height: 15em;
}

.finalAnswerBoard {
  margin-right: 25vw;
  margin-left: 5vw;
  background-color: blue;
  border: 0.2vw solid white;
  min-height: fit-content;
  max-width: 20em;
}

#finalCategory {
  font-size: 2vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 2em;
  padding-top: 0.5em;
  border-bottom: 0.2vw solid white;
  color: black;
  background-color: rgba(255, 255, 255, 0.473);
}

.playerTurn {
  margin-top: 0.5em;
  text-shadow: 2px 2px 2px black;
}

#finalBet {
  margin-bottom: 0;
  min-height: fit-content;
  font-size: 1vw;
  width: 10em;
  margin-top: 0;
  border-top-color: gray;
  border-left-color: gray;
}

.finalQuestionAndGuess {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  height: 2rem;
}

#inputFieldForAnswer {
  margin-top: 0;
  height: 2.7vw;
  font-size: 2vw;
  width: 13em;
  border-radius: 0;
  border-top-color: gray;
  border-left-color: gray;
}

.finalInput {
  margin-top: 0;
  margin-bottom: 0;
  height: 2.7vw;
  font-size: 2vw;
  min-height: 80%;
  width: 13em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#passBtn {
  display: none;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  font-size: 2vw;
  min-height: 3.06vw;
  max-height: 100%;
  width: 6em;
  max-width: 5em;
  color: rgb(95, 95, 95);
  border-top-color: gray;
  border-left-color: gray;
}
#placeholderPassBtn {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  font-size: 2vw;
  min-height: 3.06vw;
  max-height: 100%;
  width: 6em;
  max-width: 5em;
  color: rgb(95, 95, 95);
  border-top-color: gray;
  border-left-color: gray;
}

#passBtn:hover,
#finalBtn:hover,
#guessBtn:hover,
#finalBtn:active #placeholderGuessBtn:hover,
#placeholderPassBtn:hover {
  background-color: rgb(210, 210, 210);
}

#finalBtn:active,
#passBtn:active,
#guessBtn:active {
  background-color: gray;
  color: white;
}

#guessBtn,
#finalBtn {
  display: none;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 2vw;
  min-height: 3.06vw;
  max-height: 100%;
  width: 6em;
  max-width: 5em;
  color: rgb(95, 95, 95);
  border-top-color: gray;
  border-left-color: gray;
}
#placeholderGuessBtn,
#placeholderFinalBtn {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 2vw;
  min-height: 3.06vw;
  max-height: 100%;
  width: 6em;
  max-width: 5em;
  color: rgb(95, 95, 95);
  border-top-color: gray;
  border-left-color: gray;
}

.category {
  font-size: clamp(8px, 12px, 1.15vw);
  font-size: 1.25vw;
  font-weight: 620;
  /* min-height: 3em; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 0.2vw solid white;
  color: black;
  background-color: rgba(255, 255, 255, 0.473);
}

.answer {
  padding-top: 1.5em;
  border: 0.2vw solid white;
  margin: 0;
  font-weight: bold;
  font-size: 1.15vw;
  max-height: 3em;
}

.answer:hover {
  background-color: rgb(104, 104, 251);
}

#textDisplay {
  display: hidden;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  padding-right: auto;
  padding-left: auto;
  background-color: rgb(92, 107, 160);
  height: 0em;
  width: 0em;
  transition: height 0.25s, width 0.25s, left 0.25s, top 0.25s;
  top: 12em;
  left: 50%;
  display: flex;
  align-items: center;
}

#textDispCont {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 35%;
  text-align: center;
  margin-bottom: 0;
  min-height: 5em;
  padding-bottom: 5em;
}

#riskBtn, #textDisplayBtn{
  display: none;
  position: relative;
  font-size: small;
  width: fit-content;
}

.footer {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 2px black;
  font-size: 2.75vw;
}

.footer button {
  height: fit-content;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 1.5vw;
}

#finalFooter {
  font-size: 2.75vw;
  margin: auto;
  /* padding: 10em; */
  display: flex;
  flex-direction: row;
  /* color: rebeccapurple; */
  background-color: red;
  /* text-align: center; */
  /* align-items: center; */
}

#finalFooter button {
  height: fit-content;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-size: 2vw;
  /* margin-left: -19vw; */
  /* align-items: center; */
}

.finalInput {
  border-top-color: gray;
  border-left-color: gray;
}

.previousRound {
  height: 1.5rem;
  padding-inline: 2em;
  border-top-color: gray;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: gray;
  color: rgb(95, 95, 95);
}

.previousRound > button,
.nextRound > button {
  border-color: gray black black gray;
  color: rgb(95, 95, 95);
}

.nextRound {
  display: none;
  height: 1.5rem;
  padding-inline: 2em;
  max-height: 1rem;
}
.placeholderNextRound {
  height: 1.5rem;
  padding-inline: 2em;
  max-height: 1rem;
}

#finalFooter {
  margin-top: 1vh;
  padding-top: 0;
  margin-left: 16%;
}

#finalFooter > .previousRound {
  padding-right: 0;
}

.displayQuestions > * {
  display: none;
}

.displayAnswers > * {
  display: none;
}

#editContentBody {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

#newCatTitle{
  text-align: center;
}

#classNameInputField {
  width: clamp(fit-content, 40vw, 100vw);
  height: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#newCategory, #newClass {
  width: clamp(fit-content, 40vw, 100vw);
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: gray;
  border-radius: 1em;
  border: 3px solid black;
  padding: 1em;
}

#newClass {
  margin-bottom: 1em;
}

#newInformationSubmitButton {
  text-align: center;
  padding-top: 1em;
}

#newInformationSubmitButton > *, #questionsListBtn {
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: white;
}

#questionsListBtn:hover, #newInformationSubmitButton > button:hover{
    background-color: rgb(164, 164, 164);
}

#class-names {
    margin-right: 1em;
    border-top-left-radius: .25em;
    /* border-top-right-radius: .25em; */
    background-color: white;
}

#classLists {
  /* width: 40vw; */
  border: 3px solid black;
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: gray;
  height: fit-content;
}

.accordion-item {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
#classLists > h1, #selector {
  text-align: center;
}

#gamesLists {
  margin-top: 1em;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 90vw;
}

#addedCategories, #availableGames{
  border: 3px solid black;
  border-radius: 1em;
  padding: 1em;
  background-color: gray;
  height: 100%;
  min-height: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
}

#addedCategories > h1, #availableGames > h1 {
  text-align: center;
}

#availableGamesList {
  padding-top: 1.5em;
}
.categoryItems{
  font-size: medium;
}

#gamesLists *{
  user-select: none;
}

#questionsDisplay{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

#questionList {
  width: 100%;
  min-width: 100%;
}

.btn {
  background-color: white;
  position: absolute;
}

.deleteCatLabel, .checkboxLabel {
    font-size: clamp(10px, 14px, 2.15vw);;
    height: 3em;
    position: relative;
    top: -.75rem;
    margin-left: 2em;
}

.checkboxInput {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
}

.deleteCatInput {
    position: relative;
    top: -.5em;
    margin-left: 1em;
    border-radius: .5em;
    border: 1px solid rgb(150, 150, 150);
    text-align: center;
}

#break{
  height: 1em;
}

#deleteArea {
  float: right;
  display: inline;
  /* background-color: red; */
  margin-right: 2em;
}

.deleteImg {
  position: relative;
  top: -.15em;
  padding-left: .5em;
  max-width: 1.25em;
  max-height: 1.25em;
  visibility: hidden;
}

li {
  user-select: all;
}